.heading {
    height: 100px;
    background: red;
    padding: 20px;
    text-align: center;
    border: 3px groove lightgreen;

}

.wrapper {
    width: 800px;
    background-color: #ff0000;
    min-height: 400px;
    padding: 20px;
    border: 10px solid Green;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.content{min-height:400px;
    background-color:#ddd;
    width:400px;
    float:left;
    border:10px solid Green;
    margin:10px;
}

.grey{height:200px;
}

.black{
width:400px; height:300px;
}